woofwalks_back/.env
woofwalks_back/.env.dev
woofwalks_back/.env.test
woofwalks_back/config/jwt/*.pem
woofwalks_back/public/test_smtp.php

woofwalks_front/.env
woofwalks_front/certs/


woofwalks_init.sql

.env.docker

certs/

woofwalks_back/backups/

woofwalks_back/backup_db.sh
woofwalks_back/woofwalks-init.sql

logs/

Makefile

docker/mysql-init/

private_unencrypted.pem
*.pem
*.key
*.crt
*.p12
*.pfx

