
.env.local
.env.local.php
.env.test
.env.prod
.env.railway
.env.*.local
#
/public/bundles/
/public/test_smtp.php
/var/
/vendor/
/var/cache/
/var/log/

/backups

/phpunit.xml
/.phpunit.cache/

config/jwt/*.pem

backups/

backup_db.sh
woofwalks-init.sql