###> symfony/framework-bundle ###
woofwalks_back/.env
woofwalks_back/.env.dev
woofwalks_back/.env.local
woofwalks_front/Dockerfile

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
